<div class="mortgage-form-container">
  <img class="icon" src="assets/lendwell-icon.png" />

  <div class="title">
    <h2>Your Mortgage</h2>
    <h1>Calculate Your Mortgage</h1>
  </div>

  <form #mortgageForm="ngForm" (ngSubmit)="onSubmit(mortgageForm)">
    <div class="form-grid">
      <div class="form-group">
        <label>
          <mat-icon
            class="medium-icon mr-5"
            fontIcon="help"
            matTooltip="Total amount you wish to borrow."
            matTooltipPosition="above"
          />
          <span> Borrowing Amount </span> <span class="required">Required</span>
        </label>
        <div class="input-group">
          <span class="input-prefix">€</span>
          <input
            name="borrowingAmount"
            [(ngModel)]="mortgage.borrowingAmount"
            min="0"
            appOnlyNumber
            type="number"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <label>
          <mat-icon
            class="medium-icon mr-5"
            fontIcon="help"
            matTooltip="Price of the property you want to buy."
            matTooltipPosition="above"
          />
          <span> Purchase Price </span><span class="required">Required</span>
        </label>
        <div class="input-group">
          <span class="input-prefix">€</span>
          <input
            name="purchasePrice"
            [(ngModel)]="mortgage.purchasePrice"
            min="0"
            appOnlyNumber
            type="number"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <label>
          <mat-icon
            class="medium-icon mr-5"
            fontIcon="help"
            matTooltip="Number of years to repay the mortgage."
            matTooltipPosition="above"
          />
          <span> Repayment Period </span> <span class="required">Required</span>
        </label>
        <select
          name="repaymentPeriod"
          [(ngModel)]="mortgage.repaymentPeriod"
          required
        >
          <option *ngFor="let period of repaymentPeriods" [value]="period">
            {{ period }} Years
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>
          <mat-icon
            class="medium-icon mr-5"
            fontIcon="help"
            matTooltip="Your total income before taxes."
            matTooltipPosition="above"
          />
          <span> Gross Income </span> <span class="required">Required</span>
        </label>
        <div class="input-group">
          <span class="input-prefix">€</span>
          <input
            name="grossIncome"
            [(ngModel)]="mortgage.grossIncome"
            min="0"
            appOnlyNumber
            type="number"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <label>
          <mat-icon
            class="medium-icon mr-5"
            fontIcon="help"
            matTooltip="Percentage cost of the loan."
            matTooltipPosition="above"
          />
          <span> Interest Rate</span>
          <span class="required">Required</span>
        </label>
        <div class="input-group interest-input">
          <input
            name="interestRate"
            [(ngModel)]="mortgage.interestRate"
            min="0"
            appOnlyNumber
            type="number"
            step="0.01"
            required
          />
          <span class="input-suffix">%</span>
        </div>
      </div>
    </div>

    <div class="form-group submit-container">
      <button
        type="submit"
        class="primary-button"
        [disabled]="mortgageForm.invalid"
      >
        Calculate
      </button>
    </div>
  </form>
</div>
