.mortgage-form-container {
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;

  h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin-bottom: 30px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .form-group {
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #555;
        margin-bottom: 8px;

        .required {
          color: gray;
          font-size: 12px;
          margin-left: 5px;
        }
      }

      .input-group {
        display: flex;
        align-items: center;
        position: relative;

        .input-group-prefix,
        .input-group-suffix {
          position: absolute;
          font-size: 16px;
          color: #333;
        }

        .input-group-prefix {
          left: 10px;
        }

        .input-group-suffix {
          right: 10px;
        }

        input,
        select {
          width: 100%;
          padding: 10px 40px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;

          &:focus {
            border-color: #7aa9fa;
            outline: none;
          }
        }
      }
    }

    .interest-input {
      width: 50%;
    }
  }

  .submit-container {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    padding: 20px;

    .form-row {
      flex-direction: column;
    }

    .form-group {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

button.primary-button {
  background-color: #194dfa;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #143dbf;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
