.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  app-mortgage-calculator-form,
  app-mortgage-calculator {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button-group {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
}
