:root {
  --primary-color: #194dfa;
  --primary-color-hover: #143dbf;

  --secondary-color: #ffffff;
  --secondary-color-hover: #cccccc;

  --accent-color: #e9eef8;

  --text-primary-color: #ffffff;
  --text-secondary-color: #194dfa;
}
