@import url("colors.scss");

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #004bdf1a, #77a5fb),
    linear-gradient(to bottom, transparent, #aed6f8);
  font-family: "Helvetica", sans-serif;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

// Global styles for buttons
button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.primary-button {
  background-color: var(--primary-color);
  color: var(--text-primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:disabled {
    background-color: var(--secondary-color-hover);
    cursor: not-allowed;
  }
}

button.secondary-button {
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);

  &:hover {
    background-color: var(--secondary-color-hover);
    color: var(--text-secondary-color);
  }

  &:disabled {
    background-color: var(--secondary-color-hover);
    color: var(--secondary-color-hover);
    cursor: not-allowed;
  }
}

// Global styles for inputs
.input-group {
  display: flex;
  align-items: center;
  position: relative;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-color-hover);
  border-radius: 8px;
  box-sizing: border-box;

  &:focus {
    border-color: var(--primary-color-hover);
  }
}

.input-prefix,
.input-suffix {
  position: absolute;
  font-size: 16px;
}

.input-prefix {
  left: 10px;
}

.input-suffix {
  right: 10px;
}

.input-group .input-prefix + input {
  padding-left: 30px;
}

// Global styles for margins
.mr-10 {
  margin-right: 10px;
}
