html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top left, #7aa9fa, #f0f4ff);
  font-family: "Helvetica", sans-serif;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

// Global styles for buttons

button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

button.primary-button {
  background-color: #194dfa;
  color: white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #143dbf;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

button.secondary-button {
  background-color: white;
  color: #194dfa;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #cccccc;
    color: #194dfa;
  }

  &:disabled {
    background-color: #f0f0f0;
    color: #cccccc;
    border-color: #cccccc;
    cursor: not-allowed;
  }
}

// Global styles for inputs

input,
select {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  &:focus {
    border-color: #7aa9fa;
  }
}

.input-prefix,
.input-suffix {
  position: absolute;
  font-size: 16px;
  color: #333;
}

.input-prefix {
  left: 10px;
}

.input-suffix {
  right: 10px;
}

// Global styles for margins

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.w-100 {
  width: 100%;
}
