<div class="result-container">
  <img class="icon" src="assets/calculator.png" />

  <h3>Your Mortgage Calculation</h3>

  <span class="monthly-value">
    {{ monthlyPayment | currency : "EUR" : "symbol" : "1.2-2" }}
  </span>
  <span>Per Month</span>

  <div class="result-group">
    <div class="result-item">
      <span class="result-value">{{ loanToValue | number : "1.2-2" }}x</span>
      <span>Loan to Value</span>
    </div>
    <div class="result-item">
      <span class="result-value">{{ debtToIncome | number : "1.2-2" }}%</span>
      <span>Debt to Income</span>
    </div>
    <div class="result-item">
      <span class="result-value">{{ repaymentPeriod }} (Years)</span>
      <span>Term</span>
    </div>
  </div>

  <div class="info-text">{{ infoText }}</div>
</div>
